<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nagliba_multicalc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nagliba_MultiCalc">
        <activity
            android:name=".VolumerectprismActivity"
            android:exported="false" />
        <activity
            android:name=".VolumecubeActivity"
            android:exported="false" />
        <activity
            android:name=".VolumeconeActivity"
            android:exported="false" />
        <activity
            android:name=".VolumechoicesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity4"
            android:exported="false" />
        <activity
            android:name=".ChooseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AreasquareActivity"
            android:exported="false" />
        <activity
            android:name=".ArearectangleActivity"
            android:exported="false" />
        <activity
            android:name=".AreacircleActivity"
            android:exported="false" />
        <activity
            android:name=".AreachoicesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
    </application>

</manifest>